<h1>Eat-the-Burger!</h1>
<img src="pug-burger.jpg" alt="pug in a burger" width="20" height="30">
<h2>Burgers You Want to Eat</h2>

<ul>
  {{#each burgers}}
  {{#unless devour}}
  {{> burger-block devour=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers You've Eaten!</h2>

<ul>
  {{#each burgers}}
  {{#if devour}}
  {{> burger-block devour=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="bur">Burgerz:</label>
    <input type="text" id="bur" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Eaten?</label><br>
    <input type="radio" name="devour" value="1" id="bur" checked> Burgers You Want to Eat<br>
    <input type="radio" name="devour" value="0" id="devour"> Burgers Eaten
  </div>

  <button type="submit">Add Burger</button>
</form>