body {
  background-color: #e9c46a;
  text-align: center;
}
h1 {
  margin-left: 3rem;
  color: #2a9d8f;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
h2 {
  font-family: "Quicksand", sans-serif;
}
ul {
}
li {
  padding: 5px;
  margin: 5px;
  background: #e76f51;
  display: inline;
  list-style-type: none;
}

/* .label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
  font-family: "Quicksand", sans-serif;
} */

.form-group {
  margin-bottom: 5px;
  font-family: "Quicksand", sans-serif;
}
.fas {
  color: #264653;
}
button {
  background-color: white;
  color: black;
  border: 2px solid #264653;
  font-family: "Quicksand", sans-serif;
  border-radius: 4px;
}
/* img {
  background: transparent;
  text-align: center;
} */
